body {
    font-size: 10pt;
}

a {
    text-decoration: none;
}

a,
a:active,
a:visited {
    color: #777;
}

a:hover {
    color: #733;
}

div {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.unmute-button {
    display: none;
}

.mute-button,
.reset-button {
    display: block;
}
.container {
    width: 800px;
    margin: auto;
}

.interval-controls {
    display: none;
}

.interval-controls input {
    width: 100%;
}

.main {
    float: left;
    width: 60%;
}

.sidebar {
    width: 40%;
    float: right;
    display: flex;
    flex-direction: column;
}

.todo-list  {
    height: 300px;
    margin: 50px auto 20px;
    display: block;
}

.show-phone {
    display: none;
}

.social-button-container {
    width: 100px;
    margin: auto;
    padding: 0;
}

.social-button-container > * {
    width: 100%;
    display: block;
    margin: 5px;
}

.control {
    border: 1px solid #777;
    border-radius: 10px;
    width: 150px;
    max-width: 100%;
    margin: 0 auto 5px;
    padding: 10px;
    flex: 1;
    box-sizing: border-box;
}

.control:hover {
    background: rgba(0,0,0,.2);
}


@media (max-width: 800px), (max-device-width: 800px) {
    .container {
        width: 100%;
    }

    .hide-phone {
        display: none;
    }

    .show-phone {
        display: block;
    }

    .main {
        width: 100%;
        margin: auto;
        padding: 0;
        float: none;
    }

    .sidebar {
        width: 100%;
        padding: 0;
        float: none;
    }

    .control {
        width: 100%;
        height: 150px;
        font-size: 20pt;
    }

    .notice {
        font-size: 20pt;
    }

    .counter {
        font-size: 20pt;
    }

    .social-button-container {
        width: 30%;
        margin: 70px auto;
        display: inline-block;
    }

    .social-button-container > * {
        width: auto;
        margin: auto;
    }
}
